<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">

<head>
	<title>Spike'shops</title>
	<link rel="stylesheet" type="text/css" href="../static/css/main.css">
<!--	<script src="../static/js"></script>-->
</head>

<body>
	<div class="heder"> <img class="heder-photo"src="../static/img/logo.png"></div>
	<div class="heder-text-block">
		<a class="heder-text_1">мужчинам</a>
		<a class="heder-text_1">женщинам</a>
		<a class="heder-text_1">услуги</a>
		<a class="heder-profil"><img class="heder-basket-lk"src="../static/img/профиль.png"></a>
		<a class="heder-basket"><img class="heder-basket-lk"src="../static/img/корзина.png"></a>
	</div>
	<div class="glav-photo">
		<img src="../static/img/about_us.png">
		<a class="glav-photo_text">О нас</a>
	</div>
	<div class="abour_text_0">
		<a class="abour_name">CHERNIKOU STORE - </a>
		<a class="abour_text_1">Один из начинающих дизайнерсих лайфстайл-брендов, мы ещё не
			получили международное признание, но сильно стремимся к этому,
			наша одежда отличается своей изысканностью и уникальностью.</a>
	</div>
	<div class="abour_text_00">
		<a class="abour_text_2">основанная в 2022 году компания CHERNIKOY STORE предлагает потребителям по
			всему миру кастомную одежду, которая отличается своей уникальностью и
			высоким качеством. Кроме того брэнд изображает и воплащает в жизнь ваши
			творческие задумки.</a>
	</div>
</body>

<footer>
	<div class="footeer">
		<a class="o_nas">О нас</a>
		<a class="nsshi_proekti">Наши проеты</a>
		<a class="polit">политика конфедациальности</a>
		<a> <img class="photo-tg" src="../static/img/tg.png"> </a>
		<a> <img class="photo-inst" src="../static/img/insta-2.png"> </a>
		<a> <img class="photo-vk" src="../static/img/vk.png"> </a>
	</div>
</footer>

</html>