{% extends "index.html" %} {# на какую страницу мы переходим (какой шаблон будем вставлять) #}
{% block content %} {# что будет в контенте   #}
	<div class="glav-photo">
		<img src="../static/img/about_us.png">
		<a class="glav-photo_text">О нас</a>
	</div>
	<div class="abour_text_0">
		<a class="abour_name">CHERNIKOU STORE - </a>
		<a class="abour_text_1">Один из начинающих дизайнерсих лайфстайл-брендов, мы ещё не
			получили международное признание, но сильно стремимся к этому,
			наша одежда отличается своей изысканностью и уникальностью.</a>
	</div>
	<div class="abour_text_00">
		<a class="abour_text_2">основанная в 2022 году компания CHERNIKOY STORE предлагает потребителям по
			всему миру кастомную одежду, которая отличается своей уникальностью и
			высоким качеством. Кроме того брэнд изображает и воплащает в жизнь ваши
			творческие задумки.</a>
	</div>
{% endblock %}

