<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">

<head> 
	<title>Spike'shops</title>
	<link rel="stylesheet" type="text/css" href="../static/css/main.css">
<!--	<script src="../static/js"></script>-->
</head>

<body>
	<div class="heder"> <img class="heder-logo"src="../static/img/logo.png"></div>
	<div class="heder-text-block">
		<a  href="/men_1" class="heder-text_1">мужчинам</a>
		<a href="/women_1" class="heder-text_1">женщинам</a>
		<a href="/services" class="heder-text_1">услуги</a>
		<a href="/registration_page" class="heder-profil"><img class="heder-basket-lk"src="../static/img/профиль.png"></a>
		<a class="heder-basket"><img class="heder-basket-lk"src="../static/img/корзина.png"></a>
	</div>
	{% block content %}
    {% endblock %}


<footer>
	<div class="footeer">
		<a href="/about_us" class="o_nas">О нас</a>
		<a href="/our_projects" class="nsshi_proekti">Наши проеты</a>
		<a class="polit">политика конфедациальности</a>
		<a> <img class="photo-tg" src="../static/img/tg.png"> </a>
		<a> <img class="photo-inst" src="../static/img/insta-2.png"> </a>
		<a href="https://vk.com/egorka1335"> <img class="photo-vk" src="../static/img/vk.png"> </a>
	</div>
</footer>
</body>

</html>