<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">

<head>
	<title>Spike'shops</title>
	<link rel="stylesheet" type="text/css" href="../static/css/main.css">
	<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</head>

<body>
	<div class="heder"> <img class="heder-logo"src="../static/img/logo.png"></div>
	<div class="heder-text-block">
		<a  href="/men_1" class="heder-text_1">мужчинам</a>
		<a href="/women_1" class="heder-text_1">женщинам</a>
		<a href="/services" class="heder-text_1">услуги</a>
		<a href="/registration_page" class="heder-profil"><img class="heder-basket-lk"src="../static/img/профиль.png"></a>
		<a class="heder-basket"><img class="heder-basket-lk"src="../static/img/корзина.png"></a>
	</div>
<section>
    <div class="form-box">
        <div class="form-velue">
            <form action="">
                <h2>Вход в аккаунт</h2>
                <div class="inputbox">
                    <ion-icon name="mail-outline"></ion-icon>
                    <input type="email" required>
                    <label for="">Email</label>
                </div>
                <div class="inputbox">
                    <ion-icon name="lock-closed-outline"></ion-icon>
                    <input type="password" required>
                    <label for="">Password</label>
                </div>
                <a href="#"> Забыл пароль?</a>
                <div class="forget" >
                    <label for=""><input type="checkbox">Запомнить меня  </label>
                </div>
                <div class="prime_polit">
                    <label for=""> <input type="checkbox">Я согласен с политикой конфиденциальность </label>
                </div>
                <button><a href="/profil">Войти</a></button>
                <div class="register">
                    <p>Ещё нет аккаунта? <a href="/registr_page">Создать</a></p>
                </div>
            </form>
        </div>
    </div>
</section>
</body>

<footer>
  <div class="footeer">
		<a href="/about_us" class="o_nas">О нас</a>
		<a href="/our_projects" class="nsshi_proekti">Наши проеты</a>
		<a class="polit">политика конфедациальности</a>
		<a> <img class="photo-tg" src="../static/img/tg.png"> </a>
		<a> <img class="photo-inst" src="../static/img/insta-2.png"> </a>
		<a href="https://vk.com/egorka1335"> <img class="photo-vk" src="../static/img/vk.png"> </a>
	</div>
</footer>

</html>