<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">

<head>
	<title>Spike'shops</title>
	<link rel="stylesheet" type="text/css" href="../static/css/main.css">
<!--	<script src="../static/js"></script>-->
</head>

<body>
	<div class="heder"> <img class="heder-photo"src="../static/img/logo.png"></div>
	<div class="heder-text">
	<a class="heder-text_1">мужчинам</a>
	<a class="heder-text_1">женщинам</a>
	<a class="heder-text_1">услуги</a>
	<a class="heder-profil"><img class="heder-photo1"src="../static/img/профиль.png"></a>
	<a class="heder-basket"><img class="heder-photo2"src="../static/img/корзина.png"></a>
</div>
    <div class="wmk_str1_glav_photo">
        <img src="../static/img/Men_glav_photo.png">
		<a class="wmk_str1_button_glav_photo">худи</a>
    </div>
    <div class="wmot_tovar">
		<div class="wmot_tovar_case">
			<img class="wmot_tovar_photo" src="../static/img/mot_tovar.png">
			<a class="wmpt_tovar_text_name">худи черный</a>
			<a class="wmpt_tovar_text_opisanie">крутое описание которое
				автоматически подстраивается
			</a>
			<a class="wmpt_tovar_text_size_money">
				44 раземер
				2000 рублей
			</a>
			<button class="wmpt_tovar_button_bu">
				добавить в корзину
			</button>
		</div>
		<div class="wmpt_tovar_photo_gallery">
				<img src="../static/img/mot_tovar_1.png">
				<img src="../static/img/mot_tovar_2.png">
				<img src="../static/img/mot_tovar_3.png">
		</div>
    </div>
</body>

<footer>
	<div class="footeer">
		<a class="o_nas">О нас</a>
		<a class="nsshi_proekti">Наши проеты</a>
		<a class="polit">политика конфедациальности</a>
		<a> <img class="photo-tg" src="../static/img/tg.png"> </a>
		<a> <img class="photo-inst" src="../static/img/insta-2.png"> </a>
		<a> <img class="photo-vk" src="../static/img/vk.png"> </a>
	</div>
</footer>

</html>