{% extends "index.html" %} {# на какую страницу мы переходим (какой шаблон будем вставлять) #}
{% block content %} {# что будет в контенте   #}
<div class="wmk_str1_glav_photo">
        <img src="../static/img/Men_glav_photo.png">
		<a class="wmk_str1_button_glav_photo">Для мужчин</a>
    </div>
	<div class="wmk_str1_tovar_group">
		<div class="wmk_str1_tovar_group_top">
			<div class="wmk_str1_tovar">
				<img src="../static/img/men_hydi_katalog.png">
                <button class="wmk_str1_tovar_name"><a href="/men_2">худи</a></button>
			</div>
			<div class="wmk_str1_tovar">
				<img src="../static/img/men_T-shirt_katalog.png">
				<button class="wmk_str1_tovar_name">футболки</button>
			</div>
			<div class="wmk_str1_tovar">
				<img src="../static/img/men_trousers_katalog.png">
				<button class="wmk_str1_tovar_name">брюки</button>
			</div>
		</div>

		<div class="wmk_str1_tovar_group_bot">
			<div class="wmk_str1_tovar">
				<img src="../static/img/men_socks_katalog.png">
				<button class="wmk_str1_tovar_name">носки</button>
			</div>
			<div class="wmk_str1_tovar">
				<img src="../static/img/men_shorts_katalog.png">
				<button class="wmk_str1_tovar_name">шорты</button>
			</div>
			<div class="wmk_str1_tovar">
				<img src="../static/img/men_hats_katalog.png">
				<button class="wmk_str1_tovar_name">шапки</button>
			</div>
		</div>

	</div>
{% endblock %}

