{% extends "index.html" %} {# на какую страницу мы переходим (какой шаблон будем вставлять) #}
{% block content %} {# что будет в контенте   #}
	<div class="our_project2">
		<a class="our_project2_text_zagolovok"> наши работы</a>
		<a class="our_project2_text_name"> Худи скорость тигра </a>
		<a class="our_project2_text_opis"> Уникальный дизайн который подчеркивает грацию тигра и современную Японскую культуру </a>
		<img class="our_project2_photo" src="../static/img/out_proj_2.png">
	</div>
{% endblock %}

