{% extends "index.html" %} {# на какую страницу мы переходим (какой шаблон будем вставлять) #}
{% block content %} {# что будет в контенте   #}
    <div class="glav-photo">
        <img src="../static/img/out_projeckt.png">
        <a class="glav-photo_text">наши работы</a>
    </div>

    <div class="our_group_1">
        <div class="stoka_photo_1">
            <img class="str1_photo1" src="../static/img/out_1.png">
            <img class="str1_photo2" src="../static/img/out_2.png">
            <img class="str1_photo3" src="../static/img/out_3.png">
        </div>
        <div class="stroka_name_1">
            <a href="/our_projects_2" class="str_name_1">Скорость тигра</a>
            <a class="str_name_2">Японский стиль</a>
            <a class="str_name_3">Мсака кунаичи</a>
        </div>
    </div>

    <div class="our_group_2">
        <div class="stoka_photo_1">
            <img class="str1_photo1" src="../static/img/out_4.png">
            <img class="str1_photo2" src="../static/img/out_5.png">
            <img class="str1_photo3" src="../static/img/out_6.png">
        </div>
        <div class="stroka_name_1">
            <a class="str_name_1">Змея крадётся</a>
            <a class="str_name_2">Дикий цербер</a>
            <a class="str_name_3">S.W.G.Мафиозник</a>
        </div>
    </div>
{% endblock %}

