{% extends "index.html" %}
{% block content %}
    <div class="wmk_str1_glav_photo">
        <img src="../static/img/women_glav_photo.png">
		<a class="wmk_str1_button_glav_photo">Для женщин</a>
    </div>
	<div class="wmk_str1_tovar_group">
		<div class="wmk_str1_tovar_group_top">
			<div class="wmk_str1_tovar">
				<img src="../static/img/women_katalo/hydi.png">
				<button class="wmk_str1_tovar_name"><a href="/women_2">худи</a></button>
			</div>
			<div class="wmk_str1_tovar">
				<img src="../static/img/women_katalo/women_T-shirt_katalog.png">
				<button class="wmk_str1_tovar_name">футболки</button>
			</div>
			<div class="wmk_str1_tovar">
				<img src="../static/img/women_katalo/women_trousers_katalog.png">
				<button class="wmk_str1_tovar_name">брюки</button>
			</div>
		</div>

		<div class="wmk_str1_tovar_group_bot">
			<div class="wmk_str1_tovar">
				<img src="../static/img/women_katalo/women_socks_katalog.png">
				<button class="wmk_str1_tovar_name">носки</button>
			</div>
			<div class="wmk_str1_tovar">
				<img src="../static/img/women_katalo/women_shorts_katalog.png">
				<button class="wmk_str1_tovar_name">шорты</button>
			</div>
			<div class="wmk_str1_tovar">
				<img src="../static/img/women_katalo/women_hats_katalog.png">
				<button class="wmk_str1_tovar_name">шапки</button>
			</div>
		</div>

	</div>

{% endblock %}