{% extends "index.html" %} {# на какую страницу мы переходим (какой шаблон будем вставлять) #}
{% block content %} {# что будет в контенте   #}

<div class="wmk_str1_glav_photo">
        <img src="../static/img/women_glav_photo.png">
		<a class="wmk_str1_button_glav_photo">Худи</a>
    </div>

    <div class="wmpt_tovars">
		<div class="wmpt_tovars_str_top">
			<div class="card_tovara_conteiner">
				<img class="wmpt_tovar_img" src="../static/img/women_hydi/women_hydi_red.png">
				<div class="wmpt_tovar_text">
					<a>худи крассный</a>
					<a>2000</a>
					<a>44 46 48</a>
				</div>
			</div>
			<div class="card_tovara_conteiner">
				<img class="wmpt_tovar_img" src="../static/img/women_hydi/women_hydi_green.png">
				<div class="wmpt_tovar_text">
					<a>худи зеленый</a>
					<a>2000</a>
					<a>44 46 48 50</a>
				</div>
			</div>
			<div class="card_tovara_conteiner">
				<img class="wmpt_tovar_img" src="../static/img/women_hydi/women_hydi_purpule.png">
				<div class="wmpt_tovar_text">
					<a>худи пурпурный</a>
					<a>2000</a>
					<a>44 48</a>
				</div>
			</div>
		</div>
		<div class="wmpt_tovars_str_bot">
			<div class="card_tovara_conteiner">
				<img class="wmpt_tovar_img" src="../static/img/women_hydi/women_hydi_black.png">
				<div class="wmpt_tovar_text">
					<a>худи черный</a>
					<a>2000</a>
					<a>44 48 50</a>
				</div>
			</div>
			<div class="card_tovara_conteiner">
				<img class="wmpt_tovar_img" src="../static/img/women_hydi/women_hydi_white.png">
				<div class="wmpt_tovar_text">
					<a>худи белый</a>
					<a>2000</a>
					<a>46 48</a>
				</div>
			</div>
			<div class="card_tovara_conteiner">
				<img class="wmpt_tovar_img" src="../static/img/women_hydi/women_hydi_orange.png">
				<div class="wmpt_tovar_text">
					<a href="/women_3">худи оранжевый</a>
					<a>2000</a>
					<a>44 46 52</a>
				</div>
			</div>
		</div>
    </div>

{% endblock %}
