{% extends "index.html" %} {# на какую страницу мы переходим (какой шаблон будем вставлять) #}
{% block content %} {# что будет в контенте   #}
<div class="wmk_str1_glav_photo">
        <img src="../static/img/women_glav_photo.png">
		<a class="wmk_str1_button_glav_photo">худи</a>
    </div>
    <div class="wmot_tovar">
		<div class="wmot_tovar_case">
			<img class="wmot_tovar_photo" src="../static/img/women_solo-tovar_hydi/women_tovar_glav_photo.png">
			<a class="wmpt_tovar_text_name">худи оранжевый</a>
			<a class="wmpt_tovar_text_opisanie">крутое описание которое
				автоматически подстраивается
			</a>
			<a class="wmpt_tovar_text_size_money">
				44 раземер
				2000 рублей
			</a>
			<button class="wmpt_tovar_button_bu">
				добавить в корзину
			</button>
		</div>
		<div class="wmpt_tovar_photo_gallery">
				<img src="../static/img/women_solo-tovar_hydi/women_tovar_1.png">
				<img src="../static/img/women_solo-tovar_hydi/women_tovar_2.png">
				<img src="../static/img/women_solo-tovar_hydi/women_tovar_3.png">
		</div>
    </div>
{% endblock %}

