<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">

<head>
	<title>Spike'shops</title>
	<link rel="stylesheet" type="text/css" href="../static/css/main.css">
<!--	<script src="../static/js"></script>-->
</head>

<body>
	<div class="heder"> <img class="heder-photo"src="../static/img/logo.png"></div>
	<div class="heder-text">
		<a class="heder-text_1">мужчинам</a>
		<a class="heder-text_1">женщинам</a>
		<a class="heder-text_1">услуги</a>
		<a class="heder-profil"><img class="heder-photo1"src="../static/img/профиль.png"></a>
		<a class="heder-basket"><img class="heder-photo2"src="../static/img/корзина.png"></a>
	</div>
    <div class="wmk_str1_glav_photo">
        <img src="../static/img/women_glav_photo.png">
		<a class="wmk_str1_button_glav_photo">Худи</a>
    </div>

    <div class="wmpt_tovars">
		<div class="wmpt_tovars_str_top">
			<div class="card_tovara_conteiner">
				<img class="wmpt_tovar_img" src="../static/img/women_hydi/women_hydi_red.png">
				<div class="wmpt_tovar_text">
					<a>худи крассный</a>
					<a>2000</a>
					<a>44 46 48</a>
				</div>
			</div>
			<div class="card_tovara_conteiner">
				<img class="wmpt_tovar_img" src="../static/img/women_hydi/women_hydi_green.png">
				<div class="wmpt_tovar_text">
					<a>худи зеленый</a>
					<a>2000</a>
					<a>44 46 48 50</a>
				</div>
			</div>
			<div class="card_tovara_conteiner">
				<img class="wmpt_tovar_img" src="../static/img/women_hydi/women_hydi_purpule.png">
				<div class="wmpt_tovar_text">
					<a>худи пурпурный</a>
					<a>2000</a>
					<a>44 48</a>
				</div>
			</div>
		</div>
		<div class="wmpt_tovars_str_bot">
			<div class="card_tovara_conteiner">
				<img class="wmpt_tovar_img" src="../static/img/women_hydi/women_hydi_black.png">
				<div class="wmpt_tovar_text">
					<a>худи черный</a>
					<a>2000</a>
					<a>44 48 50</a>
				</div>
			</div>
			<div class="card_tovara_conteiner">
				<img class="wmpt_tovar_img" src="../static/img/women_hydi/women_hydi_white.png">
				<div class="wmpt_tovar_text">
					<a>худи белый</a>
					<a>2000</a>
					<a>46 48</a>
				</div>
			</div>
			<div class="card_tovara_conteiner">
				<img class="wmpt_tovar_img" src="../static/img/women_hydi/women_hydi_orange.png">
				<div class="wmpt_tovar_text">
					<a>худи оранжевый</a>
					<a>2000</a>
					<a>44 46 52</a>
				</div>
			</div>
		</div>
    </div>

</body>

<footer>
	<div class="footeer">
		<a class="o_nas">О нас</a>
		<a class="nsshi_proekti">Наши проеты</a>
		<a class="polit">политика конфедациальности</a>
		<a> <img class="photo-tg" src="../static/img/tg.png"> </a>
		<a> <img class="photo-inst" src="../static/img/insta-2.png"> </a>
		<a> <img class="photo-vk" src="../static/img/vk.png"> </a>
	</div>
</footer>

</html>