*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
/*главная страница*/
.heder{
	height: 90px;
	left: 0px;
	position: absolute;
	left: 0%;
	right: 0%;
	background: #070D0F;
}

.heder-photo{
	height: 80px;
	width: 200px;
	position: absolute;
	left: 2%;
	right: -6%;
	top: 5%;
	bottom: 5%;
	font-family: 'Castoro';
	font-style: normal;
	font-weight: 400;
	font-size: 26px;
	line-height: 32px;
	text-transform: uppercase;
	color: #9C9793;
}

.heder-text{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 0px;
	gap: 30px;
	position: absolute;
	width: 370px;
	height: 30px;
	left: 600px;
	top: 50px;
}

.heder-text1{
	width: 110px;
	height: 30px;
	font-family: 'Andika';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 32px;
	text-transform: uppercase;
	color: #FFFFFF;
}

.heder-text2{
	width: 113px;
	height: 30px;
	font-family: 'Andika';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 32px;
	text-transform: uppercase;
	color: #FFFFFF;
}

.heder-text3{
	width: 80px;
	height: 30px;
	font-family: 'Andika';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 32px;
	text-transform: uppercase;
	color: #FFFFFF;
}

.heder-photo1{
	width: 30px;
	height: 30px;
}

.heder-photo2{
	width: 30px;
	height: 30px;
}

.glav-photo{
	position: absolute;
	width: 1200px;
	height: 450px;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	top: -34.7%;
}

.glav-men{
	position: absolute;
	right: 50%;
	top: 580px;
	bottom: 0%;
}
.menam{
	position: absolute;
	font-family: 'Andika';
	font-style: normal;
	text-align: justify;
	text-transform: uppercase;
	font-weight: 800;
	font-size: 32px;
	line-height: 52px;
	color: white;
	left: 23vw;
	top: 125vh;
	background: rgba(66, 53, 46, 0.83);
	border-radius: 40px;
	padding: 1% 5%;
}

.women{
	position: absolute;
	font-family: 'Andika';
	font-style: normal;
	text-align: justify;
	text-transform: uppercase;
	font-weight: 800;
	font-size: 32px;
	line-height: 52px;
	color: white;
	left: 57vw;
	top: 125vh;
	background: rgba(66, 53, 46, 0.83);
	border-radius: 40px;
	padding: 1% 5%;
}

.glav-women{
	position: absolute;
	left: 50%;
	top: 580px;
	bottom: 0%;
}

.o_nas{
	position: absolute;
    right: 760px;
    top: 40px;
	width: 80px;
	height: 30px;
	font-family: 'Andika';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 39px;
	text-transform: uppercase;
	color: #FFFFFF;
	flex: none;
	order: 0;
	flex-grow: 0;
}

.nsshi_proekti{
	right: 495px;
	top: 40px;
    position: absolute;
	width: 200px;
	height: 30px;
	font-family: 'Andika';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 39px;
	text-transform: uppercase;
	color: #FFFFFF;
	flex: none;
	order: 1;
	flex-grow: 0;
}

.polit{
	position: absolute;
	width: 425px;
	height: 40px;
	right: 10px;
	top: 40px;
	font-family: 'Andika';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 40px;
	text-transform: uppercase;
	color: #FFFFFF;
}

.photo-tg{
	position: absolute;
	width: 40px;
	height: 40px;
	left: 5px;
	top: 40px;
}

.photo-inst{
	position: absolute;
	width: 40px;
	height: 40px;
	left: 50px;
	top: 40px;
}

.photo-vk{
	position: absolute;
	width: 40px;
	height: 40px;
	left: 95px;
	top: 40px;
}

footer{
	background: fixed;
	position: absolute;
	width: 100%;
	height: 120px;
	background: #070D0F;
	bottom: -1200px;
}
/*ТУТ СТРАНИЧКА РЕГИСТРАЦИИ registration_page_1 */
section{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	width: 100%;
	color: #FFFFFF;
}
.form-box{
	position: absolute;
	justify-content: center;
	display: flex;
	align-items: center;
	width: 800px;
	height: 600px;
	left: calc(50% - 800px/2);
	top: 25vh;
	background: linear-gradient(141.98deg, #112227 13.01%, #183D48 41.79%, #1C3D47 63%, #253B55 81.71%, #4872A3 98.84%, #0A1421 98.85%);
	background-blend-mode: difference;
	box-shadow: 0px 4px 10px #708CAD;
	border-radius: 30px;
}

.inputbox{
	position: relative;
	margin: 30px 0;
	width: 310px;
	border-bottom: 1px solid #FFFFFF;
}
.inputbox label{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%);
	color: #FFFFFF;
	font-size: 1em;
	pointer-events: none;
	transition: .5s;
}
input:focus ~ label,
input:focus ~ :valid{
top: -5px;
}

.inputbox input{
	width: 100%;
	height: 50px;
	background: transparent;
	border: none;
	outline: none;
	font-size: 1em;
	padding: 0 35px 0 5px;
	color: #FFFFFF;
}
.inputbox ion-icon{
	position: inherit;
	right: 8px;
	color: #FFFFFF;
	font-size: 1.2em;
	top: 20px;
}

.forget{
	margin: -15 px 0 15px;
	font-size: .9em;
	color: #FFFFFF;
	display: flex;
	justify-content: start;
}

.forget lable input{
	margin-right: 3px;
}

.forget label a{
	color: #FFFFFF;
	text-decoration: underline;
}
button{
	width: 100%;
	height: 20px;
	background: #FFFFFF;
	border-radius: 35px;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 1em;
	font-weight: 600;
}
.prime_polit{
	margin: -15 px 0 15px;
	font-size: .9em;
	color: #FFFFFF;
	display: flex;
	justify-content: start;
}
.prime_polit label input{
	margin-right: 3px;
}

.register{
	display: flex;
	justify-content: center;
	font-size: .9em;
	color: #FFFFFF;
	margin:  25px 0 10px;
}

register p a{
	text-decoration:  none;
	color: #FFFFFF;
	font-weight: 600;
}

.register p a:hover{
	text-decoration: underline;
}


.text_1_reg_form{
	position: absolute;
	width: 407px;
	height: 101px;
	left: calc(50% - 407px/2 - 45.5px);
	top: calc(50% - 101px/2 + 0.5px);
	font-family: 'Bellota Text';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 25px;
	color: #FFFFFF;
}

.text_2_reg_form{
	position: absolute;
	width: 436px;
	height: 99px;
	left: calc(50% - 436px/2 - 26px);
	top: calc(50% - 99px/2 + 142.5px);
	font-family: 'Bellota Text';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 25px;
	color: #FFFFFF;
}
/* ТУТ СТРАНИЧКА ПРОФИЛЯ registration_page_2*/
.back-prof{
	position: relative;
	width: 1200px;
	height: 500px;
	left: 200px;
	top: 133px;
	background: #2C2929;
	border-radius: 25px;
	display: flex;
	justify-content: center;
}

.icon-prof{
	position: absolute;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	left: 10px;
	top: 10px;
	background: #D9D9D9;
}

.name-prof{
	position: absolute;
	width: 96px;
	height: 50px;
	left: 235px;
    top: 100px;
	font-family: 'Amarante';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 50px;
	text-transform: uppercase;
	color: #FFFFFF;
}

.frame-prof{
	position: absolute;
	width: 96px;
	height: 50px;
	left: 428px;
	top: 213px;
	font-family: 'Amarante';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 50px;
	text-transform: uppercase;
	color: #FFFFFF;
}

.email-prof{
	position: absolute;
	width: 96px;
	height: 50px;
	left: -370px;
    top: 55px;
	font-family: 'Amarante';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 50px;
	text-transform: uppercase;
	color: #FFFFFF;
}
.namer-tel-prof{
	width: 295px;
	height: 40px;
	font-family: 'Amarante';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 40px;
	text-transform: uppercase;
	color: #FFFFFF;
	flex: none;
	order: 1;
	flex-grow: 0;
	position: absolute;
	left: 0px;
	top:60px;
}

.pol-prof{
	position: absolute;
	top:60px;
	left: 400px;
	width: 70px;
	height: 40px;
	font-family: 'Amarante';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 40px;
	text-transform: uppercase;
	color: #FFFFFF;
	flex: none;
	order: 2;
	flex-grow: 0;
}

.frame-botom-prof{
	position: absolute;
	width: 1058px;
	height: 40px;
	left: 60px;
    top: 325px;
}

.email-botom-prof{
	position: absolute;
	width: 250px;
	height: 40px;
	left: 0px;
	top: 0px;
	font-family: 'Amarante';
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	line-height: 40px;
	text-transform: uppercase;
	color: #FFFFFF;
}
input.namer-tel-botom-prof{
	position: absolute;
	width: 253px;
	height: 40px;
	left: 365px;
	font-family: 'Amarante';
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	line-height: 40px;
	text-transform: uppercase;
	color: black;
}

.radio_botom{
	position: absolute;
	left: 770px;
	font-family: 'Amarante';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 25px;
	text-transform: uppercase;
	color: #FFFFFF;
}
/* О НАС about us*/

.about_us_photo{
position: absolute;
	width: 1200px;
	height: 405px;
	left: 200px;
	top: 113px;
}
.about_us_photos{
	position: absolute;
	width: 1200px;
	height: 405px;
}

.about_us_text {
	position: absolute;
	width: 150px;
	height: 70px;
	left: 528px;
	top: 170px;
	font-family: 'Amatica SC';
	font-style: normal;
	font-weight: 400;
	font-size: 48px;
	line-height: 70px;
	color: #FFFFFF;
}

.abour_text_0{
    position: absolute;
    width: 980px;
    height: 80px;
    left: 353px;
    top: 650px;
}

.abour_name{
	width: 200px;
	height: 60px;
	font-family: 'Castoro';
	font-style: normal;
	font-weight: 400;
	font-size: 26px;
	line-height: 32px;
	text-transform: uppercase;
	color: #000000;
}

.abour_text_1{
	position: absolute;
	width: 700px;
	height: 70px;
	font-family: 'Karla';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	padding: 1%;
	line-height: 23px;
	color: #000000;
}

.abour_text_00{
	position: absolute;
	width: 1000px;
	height: 140px;
	left: 300px;
	top: 916px;
}

.abour_text_2{
	position: absolute;
	width: 1000px;
	height: 140px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 300;
	font-size: 24px;
	line-height: 29px;
	text-align: center;
	color: #000000;
}
/* наши проекты our projects*/

.our_projects_photo{
    position: absolute;
    width: 1200px;
    height: 405px;
    left: 327px;
    top: 115px;
}

.our_projects_photos_0{
	position: absolute;
	width: 1200px;
	height: 405px;
}

.our_projects_text{
    position: absolute;
    width: 285px;
    height: 70px;
    left: 470px;
    top: 170px;
    font-family: 'Amatica SC';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 70px;
    color: #FFFFFF;
}

.our_group_1{
	position: absolute;
	width: 1200px;
	height: 500px;
	left: 200px;
	top: 540px;
}

.stoka_photo_1{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 0px;
	gap: 75px;
	position: absolute;
	left: -0.17%;
	right: -0.17%;
	top: 0.55%;
	bottom: 9.45%;
	border-radius: 25px;
}

.str1_photo1{
	width: 350px;
	height: 450px;
	border-radius: 25px;
	flex: none;
	order: 0;
	flex-grow: 0;
}

.str1_photo2{
	width: 350px;
	height: 450px;
	border-radius: 25px;
	flex: none;
	order: 1;
	flex-grow: 0;
}

.str1_photo3{
	width: 350px;
	height: 450px;
	border-radius: 25px;
	flex: none;
	order: 2;
	flex-grow: 0;
}
.stroka_name_1 {
	position: absolute;
	left: 6.58%;
	right: 6.67%;
	top: 92.71%;
	bottom: 0%;
}

.str_name_1{
	position: absolute;
	left: 6.58%;
	right: 77.5%;
	top: 92.71%;
	bottom: 0%;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 29px;
	color: #070D0F;
}

.str_name_2{
	position: absolute;
	left: 42%;
	right: 42.08%;
	top: 92.71%;
	bottom: 0%;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 29px;
	color: #070D0F;
}

.str_name_3{
	position: absolute;
	left: 77.42%;
	right: 6.67%;
	top: 92.71%;
	bottom: 0%;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 29px;
	color: #070D0F;
}