*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/*главная страница*/

.heder{
	height: 90px;
	left: 0px;
	position: absolute;
	left: 0%;
	right: 0%;
	background: #070D0F;
}
.heder-logo{
	height: 70px;
	width: 160px;
	position: absolute;
	left: 2%;
	right: -6%;
	top: 14%;
	bottom: 5%;
	font-family: 'Castoro';
	font-style: normal;
	font-weight: 400;
	font-size: 26px;
	line-height: 32px;
	text-transform: uppercase;
	color: #9C9793;
}

.heder-text-block{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 0px;
	gap: 80px;
	position: absolute;
	height: 30px;
	top: 35px;
	right: 50px;
}
.heder-text_1{
	width: 110px;
	height: 30px;
	font-family: 'Andika';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 32px;
	text-transform: uppercase;
	color: #FFFFFF;
}

.heder-basket-lk{
	width: 30px;
	height: 30px;
}

/*Тут короче у нас микро оптимизация и тут идёт главное фото страницы и надпись в нём*/
.glav-photo{
	position: absolute;
	width: 1200px;
	height: 450px;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	top: -31%;
}

.glav-photo_text {
    position: absolute;
    width: 328.09px;
    height: 60px;
    left: calc(50% - 328.09px/2 - 0.5px);
    top: 193px;
    background: rgba(66, 53, 46, 0.83);
    border-radius: 35px;
    position: absolute;
    width: 312.78px;
    height: 64px;
    font-family: 'Andika';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 64px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.glav-men{
	position: absolute;
	right: 50%;
	top: 580px;
	bottom: 0%;
}
.menam{
	position: absolute;
	font-family: 'Andika';
	font-style: normal;
	text-align: justify;
	text-transform: uppercase;
	font-weight: 800;
	font-size: 20px;
	line-height: 52px;
	color: white;
	left: 23vw;
	top: 125vh;
	background: rgba(66, 53, 46, 0.83);
	border-radius: 40px;
	padding: 1% 5%;
}
.menam:hover , .women:hover{
	background: #9C9793;
	transform: scale(1.2);
}
.women{
	position: absolute;
	font-family: 'Andika';
	font-style: normal;
	text-align: justify;
	text-transform: uppercase;
	font-weight: 800;
	font-size: 20px;
	line-height: 52px;
	color: #ffffff;
	left: 57vw;
	top: 125vh;
	background: rgba(66, 53, 46, 0.83);
	border-radius: 40px;
	padding: 1% 5%;
}
.glav-women{
	position: absolute;
	left: 50%;
	top: 580px;
	bottom: 0%;
}
/* foter здесь пошёл уже футер*/
.o_nas{
	position: absolute;
    right: 760px;
    top: 40px;
	width: 80px;
	height: 30px;
	font-family: 'Andika';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 39px;
	text-transform: uppercase;
	color: #FFFFFF;
	flex: none;
	order: 0;
	flex-grow: 0;
}
.nsshi_proekti{
	right: 495px;
	top: 40px;
    position: absolute;
	width: 200px;
	height: 30px;
	font-family: 'Andika';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 39px;
	text-transform: uppercase;
	color: #FFFFFF;
	flex: none;
	order: 1;
	flex-grow: 0;
}
.polit{
	position: absolute;
	width: 425px;
	height: 40px;
	right: 10px;
	top: 40px;
	font-family: 'Andika';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 40px;
	text-transform: uppercase;
	color: #FFFFFF;
}
.photo-tg{
	position: absolute;
	width: 40px;
	height: 40px;
	left: 5px;
	top: 40px;
}
.photo-inst{
	position: absolute;
	width: 40px;
	height: 40px;
	left: 50px;
	top: 40px;
}
.photo-vk{
	position: absolute;
	width: 40px;
	height: 40px;
	left: 95px;
	top: 40px;
}
footer{
	background: fixed;
	position: absolute;
	width: 100%;
	height: 120px;
	background: #070D0F;
	bottom: -1200px;
}

/*ТУТ СТРАНИЧКА РЕГИСТРАЦИИ registration_page_1 */

section{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	width: 100%;
	color: #FFFFFF;
}
.form-box{
	position: absolute;
	justify-content: center;
	display: flex;
	align-items: center;
	width: 800px;
	height: 600px;
	left: calc(50% - 800px/2);
	top: 25vh;
	background: linear-gradient(141.98deg, #112227 13.01%, #183D48 41.79%, #1C3D47 63%, #253B55 81.71%, #4872A3 98.84%, #0A1421 98.85%);
	background-blend-mode: difference;
	box-shadow: 0px 4px 10px #708CAD;
	border-radius: 30px;
}
.inputbox{
	position: relative;
	margin: 30px 0;
	width: 310px;
	border-bottom: 1px solid #FFFFFF;
}
.inputbox label{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%);
	color: #FFFFFF;
	font-size: 1em;
	pointer-events: none;
	transition: .5s;
}
input:focus ~ label,
input:focus ~ :valid{
top: -5px;
}
.inputbox input{
	width: 100%;
	height: 50px;
	background: transparent;
	border: none;
	outline: none;
	font-size: 1em;
	padding: 0 35px 0 5px;
	color: #FFFFFF;
}
.inputbox ion-icon{
	position: inherit;
	right: 8px;
	color: #FFFFFF;
	font-size: 1.2em;
	top: 20px;
}
.forget{
	margin: -15 px 0 15px;
	font-size: .9em;
	color: #FFFFFF;
	display: flex;
	justify-content: start;
}
.forget lable input{
	margin-right: 3px;
}
.forget label a{
	color: #FFFFFF;
	text-decoration: underline;
}
button{
	width: 100%;
	height: 20px;
	background: #FFFFFF;
	border-radius: 35px;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 1em;
	font-weight: 600;
}
.prime_polit{
	margin: -15 px 0 15px;
	font-size: .9em;
	color: #FFFFFF;
	display: flex;
	justify-content: start;
}
.prime_polit label input{
	margin-right: 3px;
}
.register{
	display: flex;
	justify-content: center;
	font-size: .9em;
	color: #FFFFFF;
	margin:  25px 0 10px;
}
register p a{
	text-decoration:  none;
	color: #FFFFFF;
	font-weight: 600;
}
.register p a:hover{
	text-decoration: underline;
}
.text_1_reg_form{
	position: absolute;
	width: 407px;
	height: 101px;
	left: calc(50% - 407px/2 - 45.5px);
	top: calc(50% - 101px/2 + 0.5px);
	font-family: 'Bellota Text';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 25px;
	color: #FFFFFF;
}
.text_2_reg_form{
	position: absolute;
	width: 436px;
	height: 99px;
	left: calc(50% - 436px/2 - 26px);
	top: calc(50% - 99px/2 + 142.5px);
	font-family: 'Bellota Text';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 25px;
	color: #FFFFFF;
}

/* ТУТ СТРАНИЧКА ПРОФИЛЯ registration_page_2*/

.back-prof{
	position: relative;
	width: 1200px;
	height: 500px;
	left: 200px;
	top: 133px;
	background: #2C2929;
	border-radius: 25px;
	display: flex;
	justify-content: center;
}
.icon-prof{
	position: absolute;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	left: 10px;
	top: 10px;
	background: #D9D9D9;
}
.name-prof{
	position: absolute;
	width: 96px;
	height: 50px;
	left: 235px;
    top: 100px;
	font-family: 'Amarante';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 50px;
	text-transform: uppercase;
	color: #FFFFFF;
}
.frame-prof{
	position: absolute;
	width: 96px;
	height: 50px;
	left: 428px;
	top: 213px;
	font-family: 'Amarante';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 50px;
	text-transform: uppercase;
	color: #FFFFFF;
}
.email-prof{
	position: absolute;
	width: 96px;
	height: 50px;
	left: -370px;
    top: 55px;
	font-family: 'Amarante';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 50px;
	text-transform: uppercase;
	color: #FFFFFF;
}
.namer-tel-prof{
	width: 295px;
	height: 40px;
	font-family: 'Amarante';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 40px;
	text-transform: uppercase;
	color: #FFFFFF;
	flex: none;
	order: 1;
	flex-grow: 0;
	position: absolute;
	left: 0px;
	top:60px;
}
.pol-prof{
	position: absolute;
	top:60px;
	left: 400px;
	width: 70px;
	height: 40px;
	font-family: 'Amarante';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 40px;
	text-transform: uppercase;
	color: #FFFFFF;
	flex: none;
	order: 2;
	flex-grow: 0;
}
.frame-botom-prof{
	position: absolute;
	width: 1058px;
	height: 40px;
	left: 60px;
    top: 325px;
}
.email-botom-prof{
	position: absolute;
	width: 250px;
	height: 40px;
	left: 0px;
	top: 0px;
	font-family: 'Amarante';
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	line-height: 40px;
	text-transform: uppercase;
	color: #FFFFFF;
}
input.namer-tel-botom-prof{
	position: absolute;
	width: 253px;
	height: 40px;
	left: 365px;
	font-family: 'Amarante';
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	line-height: 40px;
	text-transform: uppercase;
	color: black;
}
.radio_botom{
	position: absolute;
	left: 770px;
	font-family: 'Amarante';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 25px;
	text-transform: uppercase;
	color: #FFFFFF;
}
/* О НАС about us*/
.abour_text_0{
    position: absolute;
    width: 980px;
    height: 80px;
    left: 437px;
    top: 650px;
}
.abour_name{
	width: 200px;
	height: 60px;
	font-family: 'Castoro';
	font-style: normal;
	font-weight: 400;
	font-size: 26px;
	line-height: 32px;
	text-transform: uppercase;
	color: #000000;
}
.abour_text_1{
	position: absolute;
	width: 700px;
	height: 70px;
	font-family: 'Karla';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	padding: 1%;
	line-height: 23px;
	color: #000000;
}
.abour_text_00{
	position: absolute;
	width: 1000px;
	height: 140px;
	left: 437px;
	top: 916px;
}
.abour_text_2{
	position: absolute;
	width: 1000px;
	height: 140px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 300;
	font-size: 24px;
	line-height: 29px;
	text-align: center;
	color: #000000;
}
/* наши проекты our projects*/
.our_projects_photo{
    position: absolute;
    width: 1200px;
    height: 405px;
    left: 327px;
    top: 115px;
}
.our_projects_photos_0{
	position: absolute;
	width: 1200px;
	height: 405px;
}
.our_projects_text{
    position: absolute;
    width: 285px;
    height: 70px;
    left: 470px;
    top: 170px;
    font-family: 'Amatica SC';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 70px;
    color: #FFFFFF;
}
.our_group_1{
    position: absolute;
    width: 1200px;
    height: 500px;
    left: 328px;
    top: 540px;
}
.stoka_photo_1{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 0px;
	gap: 75px;
	position: absolute;
	left: -0.17%;
	right: -0.17%;
	top: 0.55%;
	bottom: 9.45%;
	border-radius: 25px;
}
.str1_photo1{
	width: 350px;
	height: 450px;
	border-radius: 25px;
	flex: none;
	order: 0;
	flex-grow: 0;
}
.str1_photo2{
	width: 350px;
	height: 450px;
	border-radius: 25px;
	flex: none;
	order: 1;
	flex-grow: 0;
}
.str1_photo3{
	width: 350px;
	height: 450px;
	border-radius: 25px;
	flex: none;
	order: 2;
	flex-grow: 0;
}
.stroka_name_1 {
    position: relative;
    width: 1200px;
    height: 30px;
    top: 460px;
    display: flex;

}
.str_name_1{
	position: absolute;
	left: 6.58%;
	right: 77.5%;
	top: 92.71%;
	bottom: 0%;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 29px;
	color: #070D0F;
}
.str_name_2{
	position: absolute;
	left: 42%;
	right: 42.08%;
	top: 92.71%;
	bottom: 0%;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 29px;
	color: #070D0F;
}
.str_name_3{
	position: absolute;
	left: 77.42%;
	right: 6.67%;
	top: 92.71%;
	bottom: 0%;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 29px;
	color: #070D0F;
}
.our_group_2{
	position: absolute;
	width: 1196px;
	height: 500px;
	left: 328px;
	top: 1075px;
}
/*наши проекты 2 our projects 2*/

.our_project2{
	position: absolute;
	width: 900px;
	height: 800px;
	left: 250px;
	top: 130px;
}
.our_project2_text_zagolovok{
	position: absolute;
	left: 47.85%;
	right: 12.56%;
	top: 0%;
	bottom: 90.83%;
	font-family: 'Amatica SC';
	font-style: normal;
	font-weight: 400;
	font-size: 48px;
	line-height: 70px;
	color: #070D0F;
}
.our_project2_photo{
	position: absolute;
	left: 0%;
	right: 49.1%;
	top: 21.36%;
	bottom: 0%;
	border-radius: 25px;
}
.our_project2_text_name{
	position: absolute;
	left: 57.81%;
	right: 7.69%;
	top: 21.36%;
	bottom: 74.71%;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 29px;
	color: #000000;
}
.our_project2_text_opis{
	position: absolute;
	left: 57.81%;
	right: 0%;
	top: 29.1%;
	bottom: 53.34%;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 29px;
	color: #000000;
}
/* услуги service*/

.service_glav_blok{
    position: absolute;
    width: 1200px;
    height: 450px;
    left: 327px;
    top: 100px;
}
.service_glav_photo{
	position: absolute;
	width: 1200px;
	height: 450px;
}

.service_button{
	left: 450px;
	top: 200px;
	background: rgba(66, 53, 46, 0.83);
	border-radius: 35px;
	position: absolute;
	width: 300px;
	height: 65px;
	font-family: 'Andika';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 64px;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
}

.service_under{
    position: absolute;
    width: 1050px;
    height: 950px;
    left: 405px;
    top: 620px;

}
.service_1{
	position: absolute;
	width: 860px;
	height: 200px;
}
.service_2{
	position: absolute;
	width: 860px;
	height: 200px;
	top: 250px;
}
.service_3{
	position: absolute;
	width: 860px;
	height: 200px;
	top: 500px;
}
.service_4{
	position: absolute;
	width: 860px;
	height: 200px;
	top: 750px;
}

.service_1_glav_text{
	position: absolute;
	left: 25.49%;
	right: 60.55%;
	top: 5%;
	bottom: 80.5%;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 29px;
	display: flex;
	align-items: center;
	text-transform: uppercase;
	color: #070D0F;
}

.service_2_glav_text{
	position: absolute;
	left: 25.49%;
	right: 60.44%;
	top: 5%;
	bottom: 80.5%;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 29px;
	display: flex;
	align-items: center;
	text-transform: uppercase;
	color: #070D0F;
}

.service_3_glav_text{
	position: absolute;
	left: 25.49%;
	right: 42.53%;
	top: 5%;
	bottom: 80.5%;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 29px;
	display: flex;
	align-items: center;
	text-transform: uppercase;
	color: #070D0F;
}

.service_4_glav_text{
	position: absolute;
	left: 25.49%;
	width: 100px;
	right: 64.51%;
	top: 5%;
	bottom: 80.5%;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 29px;
	display: flex;
	align-items: center;
	text-transform: uppercase;
	color: #070D0F;
}

.service_opisanie{
	position: absolute;
	left: 25.49%;
	right: 0%;
	top: 28.5%;
	bottom: 0%;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 29px;
	color: #070D0F;
}

.service_button_zakaz{
    position: absolute;
    width: 131px;
    height: 58px;
    left: 1165px;
    top: 71px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: #000000;
}

/*  корзина с товаром backet */

.basket{
	position: absolute;
	width: 1200px;
	height: 450px;
	left: 327px;
	top: 90px;
}

.button_basket{
    position: absolute;
    width: 328.09px;
    height: 60px;
    left: calc(50% - 328.09px/2 - 0.5px);
    top: 193px;
    background: rgba(66, 53, 46, 0.83);
    border-radius: 35px;
    position: absolute;
    width: 312.78px;
    height: 64px;
    font-family: 'Andika';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 64px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.basket_hedet_menu{
    display: flex;
    position: absolute;
    width: 660px;
    height: 30px;
    left: 866px;
    top: 590px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.basket_text{
    display: flex;
    position: relative;
    width: 180px;
    height: 29px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: #000000;
    align-content: space-between;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.tovar_basket{
    position: absolute;
    width: 1200px;
    height: 500px;
    left: 327px;
    top: 650px;
}

.basket_tovar_name{
	position: absolute;
	left: 32.79%;
	right: 44.26%;
	top: 0.8%;
	bottom: 87.6%;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 29px;
	text-transform: uppercase;
	color: #070D0F;
}

.basket_tovar_opisanie{
	position: absolute;
	width: 225px;
	left: 32.64%;
	right: 0%;
	top: 21.6%;
	bottom: 55.2%;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 29px;
	display: flex;
	align-items: center;
	text-transform: uppercase;
	color: #070D0F;
}

.basket_tovar_size{
	position: absolute;
	left: 32.64%;
	right: 52.82%;
	top: 94%;
	bottom: 0%;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 29px;
	text-transform: capitalize;
	color: #070D0F;
}

.backet_kol-vo{
	position: absolute;
	width: 62px;
	height: 55px;
	left: 850px;
	top: 225px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	line-height: 39px;
	text-transform: uppercase;
	color: #000000;
}

.backet_sum{
	position: absolute;
	width: 80px;
	height: 39px;
	left: 1125px;
	top: 225px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	line-height: 39px;
	text-transform: uppercase;
	color: #000000;
}

.itogo{
	position: absolute;
	height: 40px;
	width: 1200px;
	top: 550px;
	left: 70px;
	font-family: 'Inter';
	font-style: normal;
	font-size: 32px;
	line-height: 39px;
	text-transform: uppercase;
	color: #000000;
}

.bu_itogo{
	flex-direction: row;
	justify-content: center;
	padding: 10px 27px;
	gap: 10px;
	position: absolute;
	top: 0px;
    left: 980px;
	background: rgba(66, 53, 46, 0.83);
	border-radius: 25px;
	width: 220px;
	height: 40px;

	font-family: 'Andika';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	display: flex;
	align-items: flex-end;
	text-transform: uppercase;
	color: #000000;
	flex: none;
}
/*service basket blok*/

.service_bacsket{
	position: absolute;
	width: 1200px;
	height: 1000px;
	left: 327px;
	top: 685px;
}

/*.input_photo{*/
/*	box-sizing: border-box;*/
/*	position: absolute;*/
/*	width: 300px;*/
/*	height: 250px;*/
/*	border: 1px solid #070D0F;*/
/*}*/

.bs1{
	position: absolute;
	width: 860px;
	height: 200px;
}

.bs2{
	width: 480px;
	height: 295px;
	position: absolute;
	top: 210px;
}
.bs2_text{
	position: absolute;
	width: 407px;
	height: 29px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 29px;
	text-transform: uppercase;
	color: #000000;
}

.bs2_input{
	box-sizing: border-box;
	position: absolute;
	width: 310px;
	height: 240px;
	top: 40px;
	border: 1px solid #070D0F;
	font-size: medium;
}

.strela{
	position: absolute;
	width: 56px;
	height: 95px;
	top: 20px;
	left: 400px;
}

.bs3{
	position: absolute;
	width: 820px;
	height: 320px;
	top: 515px;
}

.bs2_textarea{
	position: absolute;
	width: 818px;
	height: 191px;
	top: 40px;
	border-radius: 5px;
	border: 1px solid #070D0F;
	font-family: 'Inter';
	font-style: normal;
	font-size: 25px;
}

.bs3_text{
	position: absolute;
	width: 801px;
	height: 60px;
	top: 250px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 29px;
	text-transform: uppercase;
	color: #000000;
}

.bsbu{
	width: 1200px;
	position: absolute;
	top: 300px;
}
/* men_katalog_str1 католог для мужчин и женщин корчое тут пошла оптимизация и дальше вся цсс будет для двух разделов men и women*/

.wmk_str1_glav_photo{
	position: absolute;
	width: 1200px;
	height: 450px;
	left: 321px;
	top: 90px;
}

.wmk_str1_button_glav_photo{
	position: absolute;
	width: 300px;
	height: 60px;
	left: calc(50% - 300px/2 - 4px);
	top: 195px;
	background: rgba(66, 53, 46, 0.83);
	border-radius: 35px;
	font-family: 'Andika';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 64px;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
}

.wmk_str1_tovar_group {
	position: absolute;
	width: 1200px;
	height: 685px;
	left: 327px;
	top: 585px;
}

.wmk_str1_tovar_group_top {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 0px;
	gap: 75px;
	position: absolute;
	width: 1200px;
	height: 315px;
}

.wmk_str1_tovar{
	width: 350px;
	height: 315px;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	flex: none;
	flex-grow: 0;
}
.wmk_str1_tovar_name{
	position: absolute;
	width: 300px;
	height: 60px;
	left: calc(50% - 300px/2 - 4px);
	top: 195px;
	background: rgba(66, 53, 46, 0.83);
	border-radius: 35px;
	font-family: 'Andika';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 64px;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
}

.wmk_str1_tovar_group_bot{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 0px;
	gap: 75px;
	position: absolute;
	width: 1200px;
	height: 315px;
	bottom: 0px;
}
/* тут корчое вторая страница это конда мы кликнули на товар и вот он типо открылся men_plitka_tovara_str2*/

.wmpt_tovars{
	position: absolute;
	width: 1200px;
	height: 1000px;
	left: 327px;
	top: 570px;
}

.wmpt_tovars_str_top{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0px;
	gap: 75px;
	position: absolute;
	width: 1200px;
	height: 450px;
}
.wmpt_tovars_str_bot{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0px;
	gap: 75px;
	position: absolute;
	width: 1200px;
	height: 450px;
	bottom: 0px;
}

.card_tovara_conteiner{
	width: 350px;
	height: 450px;
	flex: none;
	flex-grow: 0;
	background: rgba(54, 50, 49, 0.15);
	border-radius: 25px;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.card_tovara_conteiner:hover{
	background: #9C9793;
	transform: scale(1.1);
}

.wmpt_tovar_img{
	position: absolute;
	left: 19.66%;
	right: 19.66%;
	top: 6.25%;
	bottom: 26.79%;
	border-radius: 25px;
}

.wmpt_tovar_text{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 5px;
	position: absolute;
	left: 19.66%;
	right: 32.04%;
	top: 75%;
	bottom: 5.36%;
	border-radius: 25px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 29px;
}
/*Открытие одного из товаров*/

.wmot_tovar{
	position: absolute;
	width: 1200px;
	height: 750px;
	left: 328px;
	top: 600px;
}
.wmot_tovar_case{
	position: absolute;
	width: 1200px;
	height: 500px;
}
.wmot_tovar_photo{
	position: absolute;
	border-radius: 25px;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.wmpt_tovar_text_name{
	position: absolute;
	left: 32.79%;
	right: 44.26%;
	top: 0.8%;
	bottom: 87.6%;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 29px;
	text-transform: uppercase;
	color: #070D0F;
}
.wmpt_tovar_text_opisanie{
	position: absolute;
	left: 32.64%;
	right: 0%;
	top: 21.6%;
	bottom: 55.2%;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 29px;
	display: flex;
	align-items: center;
	text-transform: uppercase;
	color: #070D0F;
}
.wmpt_tovar_text_size_money{
	position: absolute;
	left: 32.73%;
	right: 55.09%;
	top: 87%;
	bottom: 7.2%;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 29px;
	text-transform: capitalize;
	color: #070D0F;
}
.wmpt_tovar_button_bu{
    position: absolute;
    width: 250px;
    height: 40px;
    background: rgba(66, 53, 46, 0.83);
    border-radius: 35px;
    right: 0%;
    bottom: 0%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    justify-content: space-around;
}
.wmpt_tovar_photo_gallery{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 0px;
	gap: 60px;
	position: absolute;
	width: 570px;
	height: 200px;
	bottom: 0px;
	border-radius: 25px;
}
