<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">

<head>
	<title>Spike'shops</title>
	<link rel="stylesheet" type="text/css" href="../static/css/main.css">
<!--	<script src="../static/js"></script>-->
</head>

<body>
	<div class="heder"> <img class="heder-photo"src="../static/img/logo.png"></div>
	<div class="heder-text">
	<a class="heder-text_1">мужчинам</a>
	<a class="heder-text_1">женщинам</a>
	<a class="heder-text_1">услуги</a>
	<a class="heder-profil"><img class="heder-photo1"src="../static/img/профиль.png"></a>
	<a class="heder-basket"><img class="heder-photo2"src="../static/img/корзина.png"></a>
</div>
    <div class="basket">
		<img src="../static/img/basket_glav.png">
		<a class="button_basket" >корзина</a>
    </div>
	<div class="basket_hedet_menu">
		<a class="basket_text">Товары</a>
		<a class="basket_text">Количество</a>
		<a class="basket_text">Цена</a>
	</div>
	<div class="service_bacsket">
		<div class="bs1">
			<div class="service_1"><img src="../static/img/services_1.png">
				<a class="service_1_glav_text">Роспись</a>
				<a class="service_opisanie">Наши художники изготовят для вас специальный
					эскиз в котором будут учтены все ваши пожелания.
					И после чего перенесёт всё буйство красок на вашу
					одежду что бы она радовала ваш взгляд долгие годы.
				</a>
			</div>
		</div>
		<div class="bs2">
			<div>
				<a class="bs2_text">загрузить ваше изображение</a>
				<p><input class="bs2_input" type="file" name="photo" required multiple
					title="Загрузите одну или несколько фотографий"></p>
				<div class="strela">
					<img src="../static/img/basket_strelochka.png">
				</div>
			</div>
		</div>
		<div class="bs3">
			<a class="bs2_text">Добавьте описание</a>
			<p><textarea class="bs2_textarea" rows="10" cols="45" name="text"></textarea></p>
			<a class="bs3_text">так же для уточнения заказа и уточнения стоймости услуги с вами свяжется менеджер</a>
		</div>
		<div class="bsbu">
			<div class="itogo">
			<a>Итого: 2000</a>
			<button class="bu_itogo">заказать услугу</button>
		</div>
		</div>
	</div>
</body>

<footer>
	<div class="footeer">
		<a class="o_nas">О нас</a>
		<a class="nsshi_proekti">Наши проеты</a>
		<a class="polit">политика конфедациальности</a>
		<a> <img class="photo-tg" src="../static/img/tg.png"> </a>
		<a> <img class="photo-inst" src="../static/img/insta-2.png"> </a>
		<a> <img class="photo-vk" src="../static/img/vk.png"> </a>
	</div>
</footer>

</html>