<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">

<head>
	<title>Spike'shops</title>
	<link rel="stylesheet" type="text/css" href="../static/css/main.css">
<!--	<script src="../static/js"></script>-->
</head>

<body>
	<div class="heder"> <img class="heder-photo"src="../static/img/logo.png"></div>
	<div class="heder-text">
		<a class="heder-text_1">мужчинам</a>
		<a class="heder-text_1">женщинам</a>
		<a class="heder-text_1">услуги</a>
		<a class="heder-profil"><img class="heder-photo1"src="../static/img/профиль.png"></a>
		<a class="heder-basket"><img class="heder-photo2"src="../static/img/корзина.png"></a>
	</div>
    <div class="basket">
		<img src="../static/img/basket_glav.png">
		<a class="button_basket" >корзина</a>
    </div>
	<div class="basket_hedet_menu">
		<a class="basket_text">Товары</a>
		<a class="basket_text">Количество</a>
		<a class="basket_text">Цена</a>
	</div>
	<div class="tovar_basket">
		<img src="../static/img/basket_photo.png">
		<a class="basket_tovar_name">Худи черное</a>
		<a class="basket_tovar_opisanie">крутое описание которое автоматически подстраивается</a>
		<a class="basket_tovar_size">44 размер</a>
		<a class="basket_tovar_name">Худи черное</a>
		<a class="backet_kol-vo">1</a>
		<a class="backet_sum">2000</a>
		<div class="itogo">
			<a>Итого: 2000</a>
			<button class="bu_itogo">заказать услугу</button>
		</div>
	</div>
</body>

<footer>
	<div class="footeer">
		<a class="o_nas">О нас</a>
		<a class="nsshi_proekti">Наши проеты</a>
		<a class="polit">политика конфедациальности</a>
		<a> <img class="photo-tg" src="../static/img/tg.png"> </a>
		<a> <img class="photo-inst" src="../static/img/insta-2.png"> </a>
		<a> <img class="photo-vk" src="../static/img/vk.png"> </a>
	</div>
</footer>

</html>