<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">

<head>
	<title>Spike'shops</title>
	<link rel="stylesheet" type="text/css" href="../static/css/main.css">
	<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<!--	<script src="../static/js"></script>-->
</head>

<body>
    <div class="heder"> <img class="heder-photo"src="../static/img/logo.png"></div>
    <div class="heder-text">
		<a class="heder-text_1">мужчинам</a>
		<a class="heder-text_1">женщинам</a>
		<a class="heder-text_1">услуги</a>
		<a class="heder-profil"><img class="heder-photo1"src="../static/img/профиль.png"></a>
		<a class="heder-basket"><img class="heder-photo2"src="../static/img/корзина.png"></a>
	</div>
    <div class="back-prof">
        <div class="icon-prof"></div>
        <a class="name-prof">Name</a>
        <div class="frame-prof">
            <a class="email-prof">Email</a>
            <a class="namer-tel-prof">Телефон</a>
            <a class="pol-prof">pol</a>
        </div>
        <div class="frame-botom-prof">
            <a class="email-botom-prof"> ist-91@bk.ru </a>
            <input class="namer-tel-botom-prof" type="tel" pattern="+7(999)999-9999" />
            <div class="radio_botom">
                <input id="radio_1" name="botom_radio_1" type="radio" value="1" />
                <label for="radio_1">Муж</label><br />
                <input id="radio_2" name="botom_radio_1" type="radio" value="2" />
                <label for="radio_2">Жен</label><br />
            </div>
        </div>
    </div>
</body>

<footer>
  <div class="footeer">
      <a class="o_nas">О нас</a>
      <a class="nsshi_proekti">Наши проеты</a>
      <a class="polit">политика конфедациальности</a>
      <a> <img class="photo-tg" src="../static/img/tg.png"> </a>
      <a> <img class="photo-inst" src="../static/img/insta-2.png"> </a>
      <a> <img class="photo-vk" src="../static/img/vk.png"> </a>
  </div>
</footer>

</html>