<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">

<head>
	<title>Spike'shops</title>
	<link rel="stylesheet" type="text/css" href="../static/css/main.css">
<!--	<script src="../static/js"></script>-->
</head>

<body>
	<div class="heder"> <img class="heder-photo"src="../static/img/logo.png"></div>
	<div class="heder-text">
		<a class="heder-text_1">мужчинам</a>
		<a class="heder-text_1">женщинам</a>
		<a class="heder-text_1">услуги</a>
		<a class="heder-profil"><img class="heder-photo1"src="../static/img/профиль.png"></a>
		<a class="heder-basket"><img class="heder-photo2"src="../static/img/корзина.png"></a>
	</div>
	<div class="service_glav_blok">
		<div >
			<img class="service_glav_photo" src="../static/img/services_glav.png">
			<div class="service_button"> Услуги </div>
		</div>
	</div>
	<div class="service_under">
		<div class="service_1"><img src="../static/img/services_1.png">
			<a class="service_1_glav_text">Роспись</a>
			<a class="service_opisanie">Наши художники изготовят для вас специальный
				эскиз в котором будут учтены все ваши пожелания.
				И после чего перенесёт всё буйство красок на вашу
				одежду что бы она радовала ваш взгляд долгие годы.
			</a>
			<a class="service_button_zakaz"> ЗАКАЗАТЬ
				УСЛУГУ
			</a>
		</div>

		<div class="service_2"><img src="../static/img/services_2.png">
			<a class="service_2_glav_text">Эсскизы</a>
			<a class="service_opisanie">Воплотим ваши замыслы в реальность будь то
				незамысловатые геометрические задумки или
				настоящая картина как у знаменитых художников.
			</a>
			<a class="service_button_zakaz"> ЗАКАЗАТЬ
				УСЛУГУ
			</a>
		</div>

		<div class="service_3"><img src="../static/img/services_3.png">
			<a class="service_3_glav_text">удаление катышков</a>
			<a class="service_opisanie">Вы думали здесь будет большое описание?
				нет его не будет...                                  или всё же будет
				Мы дадим вашей одежде вторую жизнь, удалив с неё эти вредоносные комочки злости.
			</a>
			<a class="service_button_zakaz"> ЗАКАЗАТЬ
				УСЛУГУ
			</a>
		</div>
		<div class="service_4"><img src="../static/img/services_4.png">
			<a class="service_4_glav_text">TAI-DAI</a>
			<a class="service_opisanie">Спомощью магии химии наши художники исскусно переносят волны красок на вашу одежду
			</a>
			<a class="service_button_zakaz"> ЗАКАЗАТЬ
				УСЛУГУ
			</a>
		</div>
	</div>
</body>

<footer>
	<div class="footeer">
		<a class="o_nas">О нас</a>
		<a class="nsshi_proekti">Наши проеты</a>
		<a class="polit">политика конфедациальности</a>
		<a> <img class="photo-tg" src="../static/img/tg.png"> </a>
		<a> <img class="photo-inst" src="../static/img/insta-2.png"> </a>
		<a> <img class="photo-vk" src="../static/img/vk.png"> </a>
	</div>
</footer>

</html>